Repository Ouranosinc/xsdba, pull requests merged in 2025-02, with the labels that each got.

#57 Remove unit registry, use cf-xarray's or any other.
  CHANGELOG.rst
  docs/usage.rst
  src/xsdba/properties.py
  src/xsdba/units.py
  tests/test_units.py
Labels: docs

#71 Update cookiecutter template, minor fixes
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/workflow-warning.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  .zizmor.yml
  CHANGELOG.rst
  CI/requirements_ci.in
  CI/requirements_ci.txt
  README.rst
  docs/conf.py
  docs/notebooks/advanced_example.ipynb
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
  src/xsdba/cli.py
  src/xsdba/typing.py
  src/xsdba/units.py
  src/xsdba/utils.py
  tests/conftest.py
  tests/test_adjustment.py
  tests/test_measures.py
  tests/test_processing.py
  tests/test_properties.py
  tests/test_xsdba.py
  tox.ini
Labels: CI, docs

#78 Fix missing token
  .github/workflows/bump-version.yml
Labels: CI

#61 Add upstream testing
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/main.yml
  .github/workflows/upstream.yml
  CHANGELOG.rst
  CI/requirements_upstream.txt
  tox.ini
Labels: CI

#80 Update from xclim.sdba
  CHANGELOG.rst
  docs/notebooks/example.ipynb
  src/xsdba/_adjustment.py
  src/xsdba/adjustment.py
  src/xsdba/base.py
  src/xsdba/nbutils.py
  src/xsdba/processing.py
  src/xsdba/properties.py
  src/xsdba/testing/helpers.py
  src/xsdba/utils.py
  tests/test_adjustment.py
  tests/test_base.py
Labels: docs

#82 Add conda-forge and OpenSSF Best Practices Badges
  CHANGELOG.rst
  README.rst
  environment-docs.yml
  pyproject.toml
Labels: docs

#79 MBCn with 5days-OddWindow
  .github/workflows/upstream.yml
  CHANGELOG.rst
  pyproject.toml
  src/xsdba/_adjustment.py
  src/xsdba/adjustment.py
  src/xsdba/base.py
  src/xsdba/processing.py
  tests/test_adjustment.py
Labels: CI, docs

#86 Fix notebooks (no images in readthedocs) and xclim migration guide
  CHANGELOG.rst
  README.rst
  docs/index.rst
  docs/notebooks/advanced_example.ipynb
  docs/notebooks/example.ipynb
  docs/usage.rst
  docs/xclim_migration_guide.rst
  environment-dev.yml
  pyproject.toml
  src/xsdba/adjustment.py
  src/xsdba/base.py
  tests/test_adjustment.py
Labels: docs
