Repository Ouranosinc/xsdba, pull requests merged in 2025-03, with the labels that each got.

#93 Add CI backports
  CI/requirements_ci.in
  CI/requirements_ci.txt
Labels: CI

#106 Dependency and security fixes
  .github/workflows/main.yml
  CHANGELOG.rst
  Makefile
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
  tox.ini
Labels: CI, docs

#107 Additional code from xclim
  CHANGELOG.rst
  CONTRIBUTING.rst
  docs/notebooks/benchmarks/quantiles.ipynb
  docs/notebooks/index.rst
  docs/xclim_migration_guide.rst
  environment-dev.yml
  pyproject.toml
  src/xsdba/adjustment.py
  src/xsdba/testing/diagnostics.py
  src/xsdba/testing/sdba_utils.py
  src/xsdba/utils.py
Labels: docs

#116 Update authors and changelog to include j-haacker
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  README.rst
Labels: docs

#108 Fix nan handling in escore
  CHANGELOG.rst
  src/xsdba/nbutils.py
  src/xsdba/processing.py
  tests/test_processing.py
Labels: priority
